@import "../../../../../main.scss";

.popup-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 20px;
	padding: 20px;

	.popup-modify {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;

		.ipt {
			width: 100%;
		}

		.popup-modify-img {
			width: 100px;
			height: 100px;
		}
	}

	.popup-list-w-actions {
		display: flex;
		flex-direction: column;
		height: 300px;
		overflow-y: scroll;
		gap: 5px;
		width: 70%;

		.active {
			background: $red;
			color: white;
		}

		.popup-list-data {
			border: 2px solid $red;
			padding: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			cursor: pointer;

			.popup-list-data-img {
				width: 30px;
			}

			.popup-list-data-name {
				font-weight: bold;
			}
		}
	}

	.error {
		color: white;
		background: $red;
		font-weight: bold;
		padding: 10px;
	}

	.succes {
		color: white;
		background: $green;
		font-weight: bold;
		padding: 10px;
	}

	.popup-title {
		font-size: 1.3em;
		font-weight: bold;
	}

	.popup-btn-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 15px;
	}
}
