@import "../../../../../main.scss";

.popup-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80vh;
	gap: 20px;
	padding: 20px;

	.popup-list-data-lower {
		font-size: smaller;
	}

	.popup-modify {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-y: scroll;
		gap: 20px;
		border: 5px dashed $red;
		width: 60%;
		height: 40%;

		.notavailable {
			background: $red;
			color: white;
		}

		.available {
			background: $green;
			color: white;
		}

		.ipt {
			width: 80%;
		}

		.popup-modify-img {
			width: 100px;
			height: 100px;
		}

		.list {
			display: flex;
			justify-content: center;
			align-items: left;
			flex-direction: column;
			height: 100px;
			overflow-y: scroll;
			font-size: smaller;
		}
	}

	.popup-list-w-actions {
		display: flex;
		flex-direction: column;
		height: 300px;
		overflow-y: scroll;
		gap: 5px;
		width: 70%;

		.active {
			background: $red;
			color: white;
		}

		.popup-list-data {
			border: 2px solid $red;
			padding: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			cursor: pointer;

			.popup-list-data-img {
				width: 30px;
			}

			.popup-list-data-name {
				font-weight: bold;
			}
		}
	}

	@media (max-width: $responsive) {
		.popup-list-data {
			justify-content: none;
			align-items: center;
		}
	}

	.error {
		color: white;
		background: $red;
		font-weight: bold;
		padding: 10px;
	}

	.succes {
		color: white;
		background: $green;
		font-weight: bold;
		padding: 10px;
	}

	.popup-title {
		font-size: 1.3em;
		font-weight: bold;
	}

	.popup-btn-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 15px;
	}
}
