@import "../../main.scss";

#codeQR-big-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;

	#codeQR-thx {
		font-size: smaller;
		font-weight: 200;
	}

	#codeQR-redirection {
		text-decoration: none;
		color: white;
		font-size: larger;
		padding: 9px;
		cursor: pointer;
		text-align: center;
		background: $red;
	}

	#codeQR-container {
		width: 40%;
		#codeQR-headers {
			#codeQR-headers-line {
				.codeQR-header {
					padding: 30px;
					text-align: center;
				}
			}
		}

		#codeQR-datas {
			#codeQR-datas-line {
				.codeQR-data {
					text-align: center;
				}
			}
		}
	}
}

#cart-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
	color: $black;
	width: 100%;
	align-items: center;
	justify-content: center;

	#cart-items-container {
		#cart-item-thead {
			th {
				padding: 20px;
			}
			.cart-items-titles {
				text-align: left;
				font-size: 1.1em;
				text-align: center;
			}
		}

		#cart-item-tbody {
			.cart-items {
				td {
					padding: 25px;
				}

				@media (max-width: $responsive) {
					td {
						padding: 0;
					}
				}

				.cart-item-name {
					display: flex;
					flex-direction: row;
					gap: 5px;
					font-weight: bold;
					align-items: center;
					justify-content: space-between;
					height: 50px;

					.cart-item-price {
						font-size: smaller;
						text-align: left;
						color: $dark_red;
					}
				}

				.cart-item-qte {
					text-align: right;
				}

				.cart-item-final-price {
					text-align: right;
				}

				.cart-item-u-price {
					font-size: smaller;
					text-align: right;
				}

				.cart-item-actions {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: right;
					gap: 5px;

					.cart-item-btn {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 30px;
						height: 30px;
						border: none;
						background: transparent;
						font-size: larger;
						cursor: pointer;

						&:hover {
							color: white;
							text-align: center;
							border-radius: 50%;
						}
					}

					.plus {
						&:hover {
							background: $green;
						}
					}

					.minus {
						&:hover {
							background: $red;
						}
					}

					.remove {
						&:hover {
							border-radius: 0px;
							background: $red;
						}
					}
				}
			}
		}
	}

	#cart-total-container {
		display: flex;
		flex-wrap: wrap;

		#cart-total-btns {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			.cart-total-btn {
				padding: 10px;
				font-size: 0.9em;
			}
		}
	}
}
