@import "../../main.scss";

#codeQR-big-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	overflow-x: auto;

	#codeQR-thx {
		font-size: smaller;
		font-weight: 200;
	}

	#codeQR-redirection {
		text-decoration: none;
		color: white;
		font-size: larger;
		padding: 9px;
		cursor: pointer;
		text-align: center;
		background: $red;
	}

	#codeQR-container {
		width: 50%;
		#codeQR-headers {
			#codeQR-headers-line {
				.codeQR-header {
					padding: 15px;
					text-align: center;
				}
			}
		}

		#codeQR-datas {
			#codeQR-datas-line {
				.codeQR-data {
					text-align: center;
				}
			}
		}
	}
}

#cart-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
	color: $black;
	overflow-x: auto;
	width: 80%;
	justify-content: center;
	align-items: center;
	width: 100%;

	#cart-items-container {
		#cart-item-thead {
			th {
			}
			.cart-items-titles {
				text-align: left;
				font-size: 1.1em;
				text-align: center;
			}
		}

		#cart-item-tbody {
			.cart-items {
				td {
					padding: 25px;
				}

				@media (max-width: $responsive) {
					td {
						padding: 0;
					}
				}

				.cart-item-name {
					display: flex;
					flex-direction: row;
					gap: 5px;
					font-weight: bold;
					align-items: center;
					justify-content: space-between;
					height: 50px;
					position: relative;

					.cart-item-price {
						font-size: smaller;
						text-align: left;
						color: $black;
					}

					.cart-item-price-promo {
						font-size: smaller;
						color: $dark_red;
					}

					.cart-item-promo {
						color: white;
						background: $red;
						padding: 2px;
					}
				}

				.cart-item-qte {
					text-align: right;
				}

				.cart-item-final-price {
					text-align: right;
				}

				.cart-item-u-price {
					font-size: smaller;
					text-align: right;
				}

				.cart-item-actions {
					display: flex;
					flex-direction: row;
					justify-content: center;
					gap: 5px;

					.cart-item-btn {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 30px;
						height: 30px;
						border: none;
						background: transparent;
						font-size: larger;
						cursor: pointer;

						&:hover {
							color: white;
							text-align: center;
							border-radius: 50%;
						}
					}

					.plus {
						&:hover {
							background: $green;
						}
					}

					.minus {
						&:hover {
							background: $red;
						}
					}

					.remove {
						&:hover {
							border-radius: 0px;
							background: $red;
						}
					}
				}
			}
		}
	}

	#cart-total-container {
		display: flex;
		flex-wrap: wrap;

		#cart-total-btns {
			display: flex;
			gap: 10px;
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			.cart-total-btn {
				background: rgb(206, 219, 254);
				background: -moz-linear-gradient(
					124deg,
					rgba(206, 219, 254, 1) 14%,
					rgba(254, 207, 239, 1) 89%
				);
				background: -webkit-linear-gradient(
					124deg,
					rgba(206, 219, 254, 1) 14%,
					rgba(254, 207, 239, 1) 89%
				);
				background: linear-gradient(
					124deg,
					rgba(206, 219, 254, 1) 14%,
					rgba(254, 207, 239, 1) 89%
				);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cedbfe",endColorstr="#fecfef",GradientType=1);
				border: 1px solid $black;
				color: $black;
				border-radius: 50px;
				font-size: smaller;
				padding: 15px;
			}
		}
	}
}

@media (max-width: $responsive) {
	#codeQR-big-container {
		width: 100%;

		h2 {
			font-size: 1.2em;
		}
		span {
			font-size: 0.8em;
		}
	}

	#cart-container {
		display: block;
	}

	#cart-items-container {
		margin-left: auto;
		margin-right: auto;

		table {
			width: 100%;
		}

		th,
		td {
			padding: 10px;
			font-size: 0.8em;
		}
	}

	#cart-total-container {
		#cart-total-btns {
			.cart-total-btn {
				padding: 5px;
			}
		}
	}
}
