@import "../../main.scss";

#shop-container {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .shop-navigation {
        display: flex;
        gap: 20px;

        .before, .after {
            background: $red;
            border: none;
            padding: 15px;
            font-size: 1em;
            color: white;
            font-weight: bold;
        }
    }

    #shop-data-container {
        padding: 50px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .item-container {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 300px;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            gap: 10px;
    
            .item-title {
                font-weight: bold;
                font-size: 1.1em;
            }
    
            .item-price {
                .item-promotion {
                }
            }
    
            .item-imgRef {
                width: 200px;
                height: 200px;
            }
        }
    }
}
